.footerContainer {
  padding: 20px;
}

.logo {
  width: 184px;
}

.greyBackground {
  background-color: #303133; /* Or any shade of grey you prefer */
}

.nav a {
  color: #FFFFFF;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Add transition for smooth effect */
}

.nav a:hover {
  color: #CCCCCC; /* Change text color on hover */
}

.nav {
  font-size: 15px;
  font-family: var(--secondary-font);
  list-style: none;
  text-transform: capitalize;
  columns: auto 2;
  margin: 20px 0;
}

.nav > li {
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
  padding: 8px;
  border-top: 1px solid #545454; /* Set border color to grey */
  color: #FFFFFF;
}

.divider {
  margin-top: 30px;
}
